<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCC409T-AeX_k9-DiHO099zaJUgGklZuUs</string>
	<key>GCM_SENDER_ID</key>
	<string>542264660326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartHafazanNew</string>
	<key>PROJECT_ID</key>
	<string>smart-hafazan-13c90</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-hafazan-13c90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542264660326:ios:ef886b058c620aa1f0b8a7</string>
</dict>
</plist>